[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
ipython = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[packages]
Django = "==2.2.24"
pytz = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-filter = "*"
httpie = "*"
markdown = "*"
